<div>
    <div class="search">
        <input id="subjectSearch" type="text" placeholder="Subject..." />
        <input id="courseSearch" type="text" placeholder="Course code..." />
        <input id="componentSearch" type="text" placeholder="Component..." />
        <input id="keywordSearch" type="text" placeholder="Keyword..." />
        <button (click)="onSearch()">Search</button>
    </div>


    <div id="timetableUI" class="timetableButtons">

        <div class="search">
            <button (click)="addTimetableView()">Add a new Timetable</button>
            <div *ngIf="showAddTimetable">
                <input id="addTimetableName" type="text" placeholder="Name..." />
                <input id="addTimetableDesc" type="text" placeholder="Description..." />
                <select name="visibility" id="visibility">
                    <option value="private">Private</option>
                    <option value="public">Public</option>
                </select>
                <button (click)="addTimetable()">Add Timetable</button>
            </div>
        </div>

        <div class="search">
            <button (click)="addCourseView()">Add course to Timetable</button>
            <div *ngIf="showAddCourse">
                <input id="timetableInput" type="text" placeholder="Enter a timetable..." />
                <button (click)="addTimetable()">Add Timetable</button>
                <button (click)="findTimetable()">Find Timetable</button>
                <button (click)="addCourse()">Add Course</button>
            </div>
        </div>

        <div class="search">
            <button (click)="deleteTimetableView()">Delete an existing Timetable</button>
            <div *ngIf="showDeleteTimetable">
                <input id="deleteTimetableName" type="text" placeholder="Enter a timetable..." />
                <button (click)="deleteTimetable()">Delete Timetable</button>
            </div>
        </div>




    </div>


    <app-course *ngFor="let course of courses" [course]="course">
    </app-course>

</div>