<div class="header">
    <h1>SE 3316 Lab 5</h1>
    <a href="https://www.termsfeed.com/live/9db0bee4-03cf-4e7f-932d-fd029d4c5376">Privacy Policy</a>
</div>

<div *ngIf="!isSignedIn" class="search">
    <input id="name" type="text" placeholder="Full Name..." />
    <input id="signup_email" type="text" placeholder="email..." />
    <input id="signup_password" type="password" placeholder="password..." />
    <input id="repassword" type="password" placeholder="re-enter password..." />
    <button (click)="signup()">SignUp</button>
</div>

<div *ngIf="!isSignedIn" class="search">
    <input id="email" type="text" placeholder="email..." />
    <input id="password" type="password" placeholder="password..." />
    <button (click)="signin()">SignIn</button>
</div>



<!-- if the user is signed in-->
<div *ngIf="isSignedIn">

    <div class="logout">
        <h1>{{name}}</h1>
        <input id="newpassword" type="password" placeholder="new password..." />
        <button (click)="updatePassword()">Update Password</button>
        <button (click)="logout()">Logout</button>

        <!-- if the user is an admin display this div-->
        <div *ngIf="isAdmin">
            <div class="search">
                <input id="newAdminEmail" type="email" placeholder="email of new admin..." />
                <button (click)="makeAdmin()">Make Admin</button>
            </div>

            <div class="search">
                <input id="reviewid" type="email" placeholder="review ID..." />
                <button (click)="changeReviewVisibility()">Change Review Visibility</button>
            </div>
            <div class="search">
                <input id="accessChangeEmail" type="email" placeholder="email..." />
                <button (click)="changeUserAccess()">Change Access of User</button>
            </div>
        </div>
    </div>


    <!-- if the user is a normal user display this div-->
    <div *ngIf="isUser">
        <app-userhome></app-userhome>
    </div>
</div>

<app-home *ngIf="!isSignedIn"></app-home>